* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#main {
    min-height: 100svh;
    width: 100%;
    background: linear-gradient(30deg, #061e8b, #455bbc, #1a3091);
    color: white;
    font-family: Noto Sans Thai;
    padding-bottom: 30px;
}

h1 {
    padding-top: 80px;
    font-size: 4rem;
    font-weight: 370;
    font-family: Rajdhani;
}

h2 {
    margin-top: 35px;
}

h2 span {
    font-style: italic;
    font-weight: 300;
}

h3 {
    margin-top: -20px;
}

#main p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.links {
    margin: -1rem auto 0 auto;
}

.btn {
    background: linear-gradient(135deg, #08249f, #9B30FF, #4B0082);
    width: 200px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    margin: 2rem auto;
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(135deg, #7D3C98, #9B30FF);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
}

.btn a {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 9px 0 10px 0;
    border: 1.5px solid white;
}

@media screen and (max-width: 700px) {
    #main .section h2, p {
        padding: 0 38px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
    padding-top: 60px;
    font-size: 2.6rem;
}
}
